.tyuusinn{
    text-align: center;
    margin : 0 auto
  }
  .back{
    background-color: #c1ffe0;
    background-size: cover;
  }
  .title{
    color: #e60033;
    font-size: 27px
  }
  .link{
    background-color:#ffffff;
  }
  